@font-face {
    font-family: "iconfont"; /* Project id 3229450 */
    src: url("iconfont.woff2?t=1646719208659") format("woff2"), url("iconfont.woff?t=1646719208659") format("woff"),
        url("iconfont.ttf?t=1646719208659") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zuo:before {
    content: "\e9a3";
}

.icon-you:before {
    content: "\e8cf";
}

.icon-xia:before {
    content: "\e8d0";
}

.icon-active-star:before {
    content: "\e9a1";
}

.icon-star:before {
    content: "\e9a2";
}
