.lb-button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    outline: none;
    background: #fff;
    color: #606266;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.1s;
    white-space: nowrap;
    box-sizing: border-box;
    &.lb-btn-round {
        border-radius: 20px;
    }
    &.lb-btn-circle {
        padding: 12px;
        border-radius: 50%;
    }
    &.primary {
        color: #fff;
        background-color: #409eff;
        border-color: #409eff;
    }
    &.success {
        color: #fff;
        background-color: #67c23a;
        border-color: #67c23a;
    }
    &.info {
        color: #fff;
        background-color: #909399;
        border-color: #909399;
    }
    &.warning {
        color: #fff;
        background-color: #e6a23c;
        border-color: #e6a23c;
    }
    &.danger {
        color: #fff;
        background-color: #f56c6c;
        border-color: #f56c6c;
    }
    &:hover {
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
        &.primary {
            background: #66b1ff;
            border-color: #66b1ff;
            color: #fff;
        }
        &.success {
            background: #5daf34;
            border-color: #5daf34;
            color: #fff;
        }
        &.info {
            background: #82848a;
            border-color: #82848a;
            color: #fff;
        }
        &.warning {
            background: #cf9236;
            border-color: #cf9236;
            color: #fff;
        }
        &.danger {
            background: #dd6161;
            border-color: #dd6161;
            color: #fff;
        }
    }
}
