@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url("iconfont.ttf?t=1646391230474") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before {
    content: "\e609";
}
